@import url(./__logo/header__logo.css);

.header {
    max-width: 882px;
    margin: 0 199px;
    padding-top: 45px;
    display: flex;
    border-bottom: 1px solid #545454;
}

@media screen and (min-width: 1281px) {
    .header {
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px)  {
    .header {
        margin: 0;
        padding-top: 28px;
        padding-left: 27px;
    }
}